@Model IEnumerable<DemoMVC.Models.Person>

@{
    ViewData["Title"] = "Danh sách Person";
}

<h1>Danh sách Person</h1>
<form asp-action="Upload">
<lable >Up file excel từ thiết bị của bạn:</label> <br>
<input type="file"  name="File"  />
<br>
<input type="submit" value="Upload file" style="background-color: green; color: white; padding: 6px 14px; border:none; border-radius:4px;" />



</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>PersonId</th>
            <th>Họ và Tên</th>
            <th>Địa chỉ</th>
            <th> Mail </th>
            <th></th> <!-- Cột thao tác -->
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FullName</td>
            <td>@item.Address</td>
            <td>@item.Email</td>
            <td>
               
                 <a asp-action="Update" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Create" asp-route-id="">Tạo</a> |
                <a asp-action="Delete" asp-route-id="">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>
